<%- include("partials/header") -%>
<h1>Welcome <%= name %> </h1>
<div class="divider black"></div>
<h3>
    <p>Here are your questions.</p>
</h3>


<% if (questions.length) { %>

<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <% questions.forEach(function(question){ %>
        <tr>
            <td>
                <a href="/questions/<%= question._id %>"> <%= question.title %></a>
            </td>
            <td>
                <%= moment(question.createdAt).format('MMMM Do YYYY, h:mm a') %>
            </td>
            <td><span class="dash-mode"><%= question.mode %></span></td>
            <td>
                <a href="/questions/edit/<%= question._id %>" class="btn btn-float">
                    <i class="fas fa-edit"></i>
                </a>

                <form action="/questions/<%= question._id %>" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn red" type="submit">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>

            </td>
        </tr>
        <% }) %>
    </tbody>
</table>

<% } else { %>
<p>You have not posted any questions yet.</p>
<% } %>
<%- include("partials/footer") -%>